// =============================================================================
// Colours
// =============================================================================
$PALETTES: (
    C_GREY: (
		x-light: #808080,
    	light: #CFCFCF,
		base: #4A4A4A
    ),
);

$C_WHITE: #fff;
$C_BLACK: #000;


$C_FONT: palette(C_GREY, base);
$C_BORDER: palette(C_GREY, light);