// =============================================================================
// Variables
// =============================================================================
// FONT FAMILIES
$OPEN_SANS: 'Open_Sans', sans-serif;

// SITE
$MAX_SITE_WIDTH_PERCENTAGE: 100%;
$MAX_SITE_WIDTH: 1300px;

// TYPE
$BASE_FONT_FAMILY: $OPEN_SANS;
$BASE_FONT_SIZE: 16px;
$BASE_FONT_WEIGHT: 400;
$BASE_LETTER_SPACING: 0.5px;
$BASE_LINE_HEIGHT: 1.5em;
$FONT_SMOOTHING: antialiased;